appscript==1.2.5
attrs==23.2.0
bidict==0.23.1
blinker==1.8.2
certifi==2024.2.2
cffi==1.16.0
charset-normalizer==3.3.2
click==8.1.7
contourpy==1.2.1
cryptography==42.0.7
cycler==0.12.1
defusedxml==0.7.1
deprecation==2.1.0
dkpro-cassis==0.9.1
docx2pdf==0.1.8
filelock==3.14.0
Flask==3.0.3
Flask-SocketIO==5.3.6
Flask-WTF==1.2.1
fonttools==4.51.0
fpdf2==2.7.9
fsspec==2024.5.0
h11==0.14.0
huggingface-hub==0.23.0
idna==3.7
importlib-resources==5.4.0
itsdangerous==2.2.0
Jinja2==3.1.4
kiwisolver==1.4.5
lxml==4.9.4
MarkupSafe==2.1.5
matplotlib==3.9.0
more-itertools==8.14.0
numpy==1.26.4
odfpy==1.4.1
packaging==24.0
pandas==2.2.2
pdfminer.six==20231228
pdfplumber==0.11.0
pillow==10.3.0
pycparser==2.22
PyMuPDF==1.24.4
PyMuPDFb==1.24.3
pyparsing==3.1.2
pypdfium2==4.30.0
python-dateutil==2.9.0.post0
python-docx==1.1.2
python-engineio==4.9.0
python-socketio==5.11.2
pytz==2024.1
PyYAML==6.0.1
rapidfuzz==3.9.0
regex==2024.5.15
requests==2.31.0
safetensors==0.4.3
seaborn==0.13.2
simple-websocket==1.0.0
six==1.16.0
sortedcontainers==2.4.0
thefuzz==0.22.1
tokenizers==0.19.1
toposort==1.7
tqdm==4.66.4
transformers==4.40.2
typing_extensions==4.11.0
tzdata==2024.1
urllib3==2.2.1
Werkzeug==3.0.3
wsproto==1.2.0
WTForms==3.1.2
